<form [formGroup]="form" >
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter Title">
    <span class="error" *ngIf="formSubmitted && this.form.get('title').errors">This field is required</span>
  </div>
  <div class="form-group">
    <label for="director">Director</label>
    <input type="text" class="form-control" id="director" formControlName="director" placeholder="Enter Director">
    <span class="error" *ngIf="formSubmitted && this.form.get('director').errors">This field is required</span>
  </div>
  <div class="form-group">
    <label for="releaseDateDate">Release Date</label><br>

    <p-calendar  dateFormat="dd/mm/yy" [showIcon]="true"  placeholder="Enter Release Date"
                 id="releaseDateDate" formControlName="releaseDateDate"></p-calendar>
    <span class="error" *ngIf="formSubmitted && this.form.get('releaseDateDate').errors">This field is required</span>

  </div>
  <div class="form-group" >
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter Type">
    <span class="error" *ngIf="formSubmitted && this.form.get('type').errors">This field is required</span>
  </div>
  <div class="form-group">

  </div>


  <p-button class="float-right" (click)="save()" icon="pi pi-check" label="Submit"></p-button>
</form>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<app-load *ngIf="loading"></app-load>
